.add-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.add-menu > button {
  margin: 2px;
  padding: 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #fff;
  background: #fff;
  color: #444;
}

.add-menu > button:hover {
  background: #f0f0f0;
  color: #222;
}

.add-menu > button:disabled {
  color: #aaa;
  cursor: not-allowed;
}

.add-menu > .separator {
  border-left: 1px solid #ccc;
  margin: 0 5px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}
