:root {
  --handle-width: 2px;
  --point-handle-width: calc(3 * var(--handle-width));
  --point-handle-border: 2px;
  --point-handle-total: calc(
    var(--point-handle-width) + var(--point-handle-border)
  );
  --handle-color: #38e;
  --handle-background: #fff;
}

svg text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.handle {
  position: absolute;
  background-color: var(--handle-color);
}

.handle.line {
  cursor: move;
}

.ogma-annotation-text-editor textarea {
  outline: none;
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  height: 100%;
  cursor: text;
  padding: 0;
  z-index: 1000;
  resize: none;
  white-space: break-spaces;
  background: transparent;
  overflow: hidden;
}

.annotation-text-handle .noevents {
  pointer-events: none;
  z-index: 20;
}

.line-handle,
.point-handle {
  z-index: 30;
}

.line-handle.top {
  cursor: ns-resize;
  height: var(--handle-width);
  left: 0;
  width: 100%;
  top: calc(var(--handle-width) * -1);
}

.line-handle.bottom {
  cursor: ns-resize;
  height: var(--handle-width);
  width: 100%;
  left: 0;
  bottom: calc(var(--handle-width) * -1);
}

.line-handle.left {
  cursor: ew-resize;
  height: 100%;
  top: 0;
  left: calc(var(--handle-width) * -1);
  width: var(--handle-width);
}

.line-handle.right {
  cursor: ew-resize;
  height: 100%;
  right: calc(var(--handle-width) * -1);
  top: 0;
  width: var(--handle-width);
}

.line-handle.top,
.line-handle.bottom,
.line-handle.left,
.line-handle.right {
  cursor: move;
}

.point-handle {
  border-radius: 50%;
  background-color: white;
  transform-origin: center;
  transform: translate(-50%, -50%);
  border: var(--point-handle-border) solid var(--handle-color);
  width: var(--point-handle-width);
  height: var(--point-handle-width);
}
.point-handle.top-left {
  transform: translate(-55%, -55%);
}
.point-handle.top-right {
  transform: translate(-45%, -55%);
}
.point-handle.bottom-left {
  transform: translate(-55%, -45%);
}
.point-handle.bottom-right {
  transform: translate(-45%, -45%);
}

.rotated .point-handle.bottom-left,
.rotated .point-handle.top-right {
  display: none;
}

.point-handle.top-left,
.point-handle.bottom-right {
  cursor: nwse-resize;
}

.point-handle.top-right,
.point-handle.bottom-left {
  cursor: nesw-resize;
}

.point-handle.bottom-left,
.point-handle.bottom-right {
  top: 100%;
}
.point-handle.top-left,
.point-handle.top-right {
  top: 0;
}
.point-handle.bottom-left,
.point-handle.top-left {
  left: 0;
}
.point-handle.bottom-right,
.point-handle.top-right {
  left: 100%;
}

.arrow-handle > .handle {
  height: var(--point-handle-width);
  width: var(--point-handle-width);
  border-radius: 50%;
  cursor: move;
  transform: translate(-50%, -50%);
}

.arrow-handle > .line {
  height: var(--handle-width);
  border-radius: 0;
  cursor: move;
}

.arrow-handle > .point {
  background-color: var(--handle-background);
  border: 2px solid var(--handle-color);
}

.annotations-hidden-input {
  position: absolute;
  bottom: 0px;
  left: 0px;
  visibility: hidden;
  display: block;
}

.active {
  background-color: #38e;
}

.annotation-text {
  /* pointer-events: visible; */
  /* cursor: pointer; */
}
.annotation-text:hover > rect {
  stroke: var(--handle-color);
}

.annotation-text a {
  fill: var(--handle-color);
}

.annotation-text a:hover {
  text-decoration: underline;
}

/* Hover and Selected States */
.annotation-hovered {
  filter: brightness(1.1) drop-shadow(0 0 4px rgba(59, 130, 246, 0.5));
  /* cursor: pointer; */
}

.annotation-selected {
  filter: brightness(1.2) drop-shadow(0 0 8px rgba(59, 130, 246, 0.8));
}
