:root {
  --brand-color: #4999f7;
  --font: "IBM Plex Sans", sans-serif;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
  overflow: hidden;
  font-family: "IBM Plex Sans", sans-serif;
}

.App > div {
  width: 100vw;
  height: 100vh;
}

body,
html {
  margin: 0;
  padding: 0;
}

.brand {
  color: var(--brand-color);
  font-size: 12px;
  padding: 5px;
  margin: 0;
  font-family: var(--font);
  border-radius: 5px;
}

.brand a {
  color: #ffffff;
  display: block;
}
