.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
  overflow: hidden;
  font-family: "IBM Plex Sans", sans-serif;
}

.App > div > div {
  width: 100vw;
  height: 100vh;
}

body,
html {
  margin: 0;
  padding: 0;
}
