.view-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.view-controls > button {
  margin: 2px;
  padding: 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #fff;
  background: #fff;
  color: #444;
}

.view-controls > button:hover {
  background: #f0f0f0;
  color: #222;
}

.view-controls > button:disabled {
  color: #aaa;
  cursor: not-allowed;
}

.view-controls > .separator {
  border-top: 1px solid #ccc;
  width: 20px;
  height: 0;
  margin: 5px 0;
}
